###Problem Statement

For any random number from 0 to $10^{12}$, generate its number name. \
**Note**: Use Western Naming System [Ones, Tens, Hundreds, Thousands, Millions, Billions, Trillions]

###Code

In [1]:
# Imports
import random
import pandas as pd


num_dict1 = {0: 'Zero', 1: 'One', 2: 'Two', 3: 'Three', 4: 'Four', 5: 'Five',6: 'Six', 7: 'Seven',
             8: 'Eight', 9: 'Nine', 10: 'Ten', 11: 'Eleven', 12: 'Twelve', 13: 'Thirteen',
             14: 'Fourteen', 15: 'Fifteen', 16: 'Sixteen', 17: 'Seventeen', 18: 'Eighteen',
             19: 'Nineteen'}
num_dict2 = {2: 'Twenty', 3: 'Thirty', 4: 'Forty', 5: 'Fifty', 6: 'Sixty', 7: 'Seventy',
             8: 'Eighty', 9: 'Ninety'}
ten_power = {1: 'Billion', 2: 'Million', 3: 'Thousand', 4: 'Hundred'}


def name_gen1(n):
    if n == 0:
        name = ''
    x = divmod(n, 100)
    if x[0] == 0 and x[1] != 0:
        y = divmod(x[1], 10)
        name = name_gen2(x[1], y)
    elif x[0] != 0:
        if x[1] == 0:
            name = num_dict1[x[0]]
            y = divmod(x[1], 10)
            name += ' ' + ten_power[4]
        else:
            name = num_dict1[x[0]]
            y = divmod(x[1], 10)
            name += ' ' + ten_power[4] + ' and ' + name_gen2(x[1], y)
    return name


def name_gen2(x,y):
    n_name = ''
    if y[0] == 0 and y[1] != 0:
        n_name = num_dict1[y[1]]
    elif y[0] == 1:
        n_name = num_dict1[x]
    elif y[0] != 0 and y[1] == 0:
        n_name = num_dict2[y[0]]
    elif y[0] != 0 and y[1] != 0:
        n_name = num_dict2[y[0]] + ' ' + num_dict1[y[1]]
    return n_name


def split_num(num):
    if num == 0:
        name = num_dict1[num]
    elif len(str(num)) <= 3:
        name = name_gen1(num)
    elif 3 <= len(str(num)) <= 6:
        num1, num2 = divmod(num, 1000)
        num_name1 = name_gen1(num1)
        num_name2 = name_gen1(num2)
        name = f"{num_name1} {get_power_name(num1,3)} {num_name2}"
    elif 6 <= len(str(num)) <= 9:
        n, num3 = divmod(num, 1000)
        num1, num2 = divmod(n, 1000)
        num_name1 = name_gen1(num1)
        num_name2 = name_gen1(num2)
        num_name3 = name_gen1(num3)
        name = f"{num_name1} {get_power_name(num1,2)} {num_name2} {get_power_name(num2,3)} {num_name3}"
    elif 9 <= len(str(num)) <= 12:
        n, num4 = divmod(num, 1000)
        n1, num3 = divmod(n, 1000)
        num1, num2 = divmod(n1, 1000)
        num_name1 = name_gen1(num1)
        num_name2 = name_gen1(num2)
        num_name3 = name_gen1(num3)
        num_name4 = name_gen1(num4)
        name = f"{num_name1} {get_power_name(num1,1)} {num_name2} " \
               f"{get_power_name(num2,2)} {num_name3} {get_power_name(num3,3)} {num_name4}"
    return name


def get_power_name(num, e):
    if num == 0:
        power_name = ''
    elif num != 0  and e == 1:
        power_name = ten_power[1]
    elif num != 0  and e == 2:
        power_name = ten_power[2]
    elif num != 0  and e == 3:
        power_name = ten_power[3]
    return power_name


# Driver
N = 10
L0, L1 = 0, 1e+12
numberlist = []
for _ in range(N):
    numberlist.append(random.randint(L0, L1))
for number in numberlist:
    print(f"Number : {number:,} |  Number Name : {split_num(number)}")

Number : 297,990,817,901 |  Number Name : Two Hundred and Ninety Seven Billion Nine Hundred and Ninety Million Eight Hundred and Seventeen Thousand Nine Hundred and One
Number : 131,311,937,064 |  Number Name : One Hundred and Thirty One Billion Three Hundred and Eleven Million Nine Hundred and Thirty Seven Thousand Sixty Four
Number : 371,522,032,324 |  Number Name : Three Hundred and Seventy One Billion Five Hundred and Twenty Two Million Thirty Two Thousand Three Hundred and Twenty Four
Number : 553,779,719,371 |  Number Name : Five Hundred and Fifty Three Billion Seven Hundred and Seventy Nine Million Seven Hundred and Nineteen Thousand Three Hundred and Seventy One
Number : 357,649,207,239 |  Number Name : Three Hundred and Fifty Seven Billion Six Hundred and Forty Nine Million Two Hundred and Seven Thousand Two Hundred and Thirty Nine
Number : 330,277,193,448 |  Number Name : Three Hundred and Thirty Billion Two Hundred and Seventy Seven Million One Hundred and Ninety Three Thousand Four Hundred and Forty Eight
Number : 949,189,031,357 |  Number Name : Nine Hundred and Forty Nine Billion One Hundred and Eighty Nine Million Thirty One Thousand Three Hundred and Fifty Seven
Number : 735,522,876,347 |  Number Name : Seven Hundred and Thirty Five Billion Five Hundred and Twenty Two Million Eight Hundred and Seventy Six Thousand Three Hundred and Forty Seven
Number : 726,000,726,772 |  Number Name : Seven Hundred and Twenty Six Billion   Seven Hundred and Twenty Six Thousand Seven Hundred and Seventy Two
Number : 678,236,970,963 |  Number Name : Six Hundred and Seventy Eight Billion Two Hundred and Thirty Six Million Nine Hundred and Seventy Thousand Nine Hundred and Sixty Three